* {
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
    height: 100vh;
    width: 120px;
    margin-right: 2rem;
    background-color: black;
}

.navbar nav {
    padding: 1rem 0rem;
    width: 120px;
}

.navbar img {
    width: 100px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    align-items: center;
    color: #646cff;
    font-weight: 500;
    text-decoration: none;
}

.navbar-item:hover {
    color: #9499ff;
}

.active {
    background-color: #222222;
}

.home_logo {
    width: 200px;
    height: 200px;
}

.walletPage input {
    margin-bottom: 1rem;
}

.realtiesGrid {
    gap: 1rem;
    width: 85vw;
    height: 60vh;
    margin-bottom: 4rem;
}

.realtyItem { 
    height: 150;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    border: 2px solid #1a1a1a;
}

.realtyInfo {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
    border-radius: 16px;  
}

.popup-inner .action-button {
    position: absolute;
    top: 8px;
    right: 16px;
}

.realtiesPage .action-button { 
    top: 8px;
    right: 16px;
}

.realtiesPage .action-button:hover {color: var(--red)}
.realtyItem:hover {border: 2px solid var(--red)}

.salesPage tr:hover {border: 1px solid var(--pink)}
.salesPage th {border-bottom: 1px solid var(--pink)}
.salesPage .MuiSvgIcon-root {color: var(--pink)}

.rentalsPage tr:hover {border: 1px solid var(--blue)}
.rentalsPage th {border-bottom: 1px solid var(--blue)}
.rentalsPage .MuiSvgIcon-root {color: var(--blue)}

.mortgagesPage tr:hover {border: 1px solid var(--green)}
.mortgagesPage th {border-bottom: 1px solid var(--green)}
.mortgagesPage .MuiSvgIcon-root {color: var(--green)}

.walletPage form input:hover {border-color: var(--yellow)}
.walletPage button {border-color: var(--yellow)}
.walletPage button:hover {background-color: var(--yellow)}