* {
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
    height: 100vh;
    width: 120px;
    margin-right: 2rem;
    background-color: black;
    position: fixed;
    
}

.navbar nav {
    padding: 1rem 0rem;
    width: 120px;
}

.navbar img {
    width: 100px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    align-items: center;
    color: #646cff;
    font-weight: 500;
    text-decoration: none;
}

.navbar-item:hover {
    color: #9499ff;
}

.active {
    background-color: #222222;
}

.home_logo {
    width: 200px;
    height: 200px;
}


.realtiesGrid {
    gap: 1rem;
    width: 85vw;
    height: 60vh;
    margin-bottom: 4rem;
}

.realtyItem { 
    height: 150;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    border: 2px solid #1a1a1a;
}

.realtyItem .realtyInfo {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
    border-radius: 16px;  
}

.realtyPage {
    margin-top: 20px;
    margin-bottom: 20px;
}

.realtyPage .realtyInfo {
    width: 40vw;
}

.realtyPage .realtyInfo .realtyImage {
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 250px;
}

.realtyPage .realtyActions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2em;
    padding-left: 2em;
    border-left: var(--grey) 2px solid;
}

.popup-inner .action-button {
    position: absolute;
    top: 8px;
    right: 16px;
}

.realtiesPage .action-button { 
    top: 8px;
    right: 16px;
}

.salePage {
    margin-top: 20px;
    margin-bottom: 20px;
}

.salePage h1 {
    margin: 1rem 0 0 0;
}

.salePage .saleInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.salePage .saleActions {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    padding-left: 2em;
    border-left: var(--grey) 2px solid;
}

.salePage .saleActions p {
    margin: 0 0 1em 0;
}

.salePage .saleButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.salePage .txParties {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.infoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.infoCard .title {
    width: 100%;
    border-bottom: var(--pink) 1px solid;
    color: var(--lightgrey);
}

.infoCard :nth-child(n) {
    padding: 0;
    margin: 0;
    align-self: start;
}

.Loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.submitButton {
    margin-top: 1em;
}


.redButton {border-color: var(--red)}
.redButton:hover {background-color: var(--red)}
.yellowButton {border-color: var(--yellow)}
.yellowButton:hover {background-color: var(--yellow)}
.pinkButton {border-color: var(--pink)}
.pinkButton:hover {background-color: var(--pink)}
.blueButton {border-color: var(--blue)}
.blueButton:hover {background-color: var(--blue)}
.greenButton {border-color: var(--green)}
.greenButton:hover {background-color: var(--green)}
.whiteButton {border-color: var(--lightgrey)}
.whiteButton:hover {background-color: var(--lightgrey)}

.redInput:hover {border-color: var(--red)}
.yellowInput:hover {border-color: var(--yellow)}
.pinkInput:hover {border-color: var(--pink)}
.blueInput:hover {border-color: var(--blue)}
.greenInput:hover {border-color: var(--green)}

.redButton:disabled,
.yellowButton:disabled,
.pinkButton:disabled,
.blueButton:disabled,
.greenButton:disabled,
.whiteButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.realtiesPage .action-button:hover {color: var(--red)}
.realtyItem:hover {border: 2px solid var(--red)}

.salesPage tr:hover {border: 1px solid var(--pink)}
.salesPage th {border-bottom: 1px solid var(--pink)}
.salesPage .MuiSvgIcon-root {color: var(--pink)}

.rentalsPage tr:hover {border: 1px solid var(--blue)}
.rentalsPage th {border-bottom: 1px solid var(--blue)}
.rentalsPage .MuiSvgIcon-root {color: var(--blue)}

.mortgagesPage tr:hover {border: 1px solid var(--green)}
.mortgagesPage th {border-bottom: 1px solid var(--green)}
.mortgagesPage .MuiSvgIcon-root {color: var(--green)}

.walletPage form input:hover {border-color: var(--yellow)}

.realtyPage th {border-bottom: 1px solid var(--red); width: 100%;}