* {
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
    height: 100vh;
    width: 120px;
    margin-right: 2rem;
}

.navbar nav {
    padding: 1rem 0rem;
    width: 120px;
}

.navbar img {
    width: 100px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    align-items: center;
    color: #646cff;
    font-weight: 500;
    text-decoration: none;
}

.navbar-item:hover {
    color: #9499ff;
}

.active {
    color: #9499ff;
}

.home_logo {
    width: 200px;
    height: 200px;
}

.walletPage input {
    margin-bottom: 1rem;
}

.realtiesPage { 
}

.realtiesGrid {
    gap: 1rem;
    width: 85vw;
    height: 60vh;
    margin-bottom: 4rem;
}

.realtyItem { 
    height: 150;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.realtyInfo {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
    border-radius: 16px;  
}